@import "tailwindcss";
@custom-variant dark (&:is(.dark *));
@theme {
  --color-primary: #535CE8;
  --color-primary-light: #EEF2FF;
  --color-background: #FFFFFF;
  --color-text-main: #111827;
  --color-secondary: #6B7280;
  --color-border: #E5E7EB;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: var(--color-background);
  color: var(--color-text-main);
  -webkit-font-smoothing: antialiased;
}

/* Custom Scrollbar for a premium look */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #E5E7EB;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #D1D5DB;
}

/* Hide scrollbar for clean sidebar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.dark body { background-color: #1A1D2F; }
